<!doctype html>

<html>
  <head>
    <meta charset="UTF-8">
    <title>isitfuckingopenyet?</title>
    <link href="//netdna.bootstrapcdn.com/twitter-bootstrap/2.2.2/css/bootstrap-combined.min.css" rel="stylesheet">
    <script src="//netdna.bootstrapcdn.com/twitter-bootstrap/2.2.2/js/bootstrap.min.js"></script>
  </head>
  <body>
    <div class="navbar navbar-inverse navbar-fluid-top">
      <div class="navbar-inner">
        <div class="container">
          <a class="brand" href="/">Is It Fucking Open Yet</a>
          <div class="nav-collapse collapse">
            <ul class="nav">
              <li class="">
                <a href="/">Home</a>
              </li>
              <li class="">
                <a href="/search">Search</a>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
    <div class="container-fluid">
      <div class="row-fluid">
<%= yield %>
      </div>
    </div>
  </body>
</html>
